## mako
<%!
  from django.conf import settings
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>
<%!
  from datetime import date
%>

<%block name="title"><title>${_('Frequently Asked Questions')}</title></%block>

<section class="static-container tos">
    <br>
    <h2 style="text-align: left;"><b>Support</b></h2><br> 
    <p style="text-align: left;">
    <b>Q: Browser Compatibility</b><br>
       A: For full requirements and limitations of browsers please view the latest <a href="http://edx.readthedocs.org/projects/edx-installing-configuring-and-running/en/latest/front_matter/browsers.html?highlight=browser%20support">Open edX documentation</a><br><br> 
    <b>Q: Account Setup</b><br>
       A: During initial registration you will sign into your account. However, if you don't choose the activation link in the email titled "Activate Your Account" you may have difficulty signing in again.<br><br>
    <b>Q: What is the Microsoft Azure training campaign?</b><br>
       A: Recognizing a shortage of qualified Azure cloud experts to fill the growing need for specific job roles, Microsoft Azure training is a new way to learn the skills and get the hands-on experience in becoming cloud architect or practitioner. After passing all courses in the curriculum, individuals earn a digitally sharable, résumé-worthy credential that confirms mastery of cloud.<br><br>
    <b>Q: Why should I consider participating?</b><br>
       A: Cloud computing is currently one of the hottest areas in technology and the need for cloud architects and experts is only expected to grow. To succeed in one of these new jobs, you’ll need real-world knowledge as well as hands-on experience. The program for Azure Hero is specifically designed and delivered by experts to give hands on training to Azure.<br><br>
    <b>Q: Who is eligible?</b><br>
       A: This program is open for all. Anyone who has interest in learning about cloud computing, development and deployment is welcome.<br><br>
    <b>Q: How much will this cost?</b><br>
       A: Online courses with completion will be available for free. There are two offers for online courses with certification focus and this is available at the cost of $99 and $279.<br><br>
    <b>Q: Is this program offered worldwide?</b><br>
       A: Yes, this program is offered worldwide.<br><br>
    <b>Q: Is Microsoft Azure training offered in languages other than English?</b><br>
       A: Currently, Azure Hero program is only available in English.<br><br>
    <b>Q: Where do I take the free online courses?</b><br>
       A: You can take this course free on <a href="http://openedx.microsoft.com">OpenedX site of Microsoft</a><br><br>
    <b>Q: Where do I go to purchase the exam vouchers and practice tests?</b><br>
       A: You can purchase the exam voucher on <a href="http://www.microsoft.com/learning">www.microsoft.com/learning</a><br><br>
    <b>Q: How do I redeem an exam voucher?</b><br>
       A: Sign in at <a href="http://www.microsoft.com/learning">www.microsoft.com/learning</a> and register for a Microsoft Certification exam (MCP exams only).  During the payment process, you can enter the exam voucher number.<br><br>
    <b>Q: How do I take a practice test?</b><br>
       A: You can take the practice test on <a href="https://wsr.pearsonvue.com/microsoft/practicetests.asp">Pearson Vue site</a><br><br>
    <b>Q: If I have further questions where do I go?</b><br>
       A: If you have not found answers to questions on this FAQs. You will have to contact the following:<br>Course content-specific questions and discussions – join the discussion boards in the appropriate course on Microsoft Learning 
       <ul>
          <li>Microsoft Learning Technical Support –- visit the <a href="https://trainingsupport.microsoft.com/en-us/tcml/tcml_mat">Support Forum</a>. Your question may already have an answer or you can sign in and post a new question.</li>
	  <li>Purchasing exam vouchers and practice tests -- Send an email to <a href="mailto:mindhub@pearson.com">mindhub@pearson.com</a></li>
          <li>Practice Test questions and issues -- Send an email to <a href="mailto:mindhub@pearson.com">mindhub@pearson.com</a></li>
          <li>Microsoft Certification Program (certification exams) -- <a href="http://www.microsoft.com/learning/help">www.microsoft.com/learning/help</a></li>
          <li>Pearson VUE exam delivery (including exam voucher redemption issues) -- <a href="http://www.pearsonvue.com/microsoft/contact/">http://www.pearsonvue.com/microsoft/contact/</a></li>
       </ul>
       <br>
    </p>
</section>

