## mako
<%!
  from django.conf import settings
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>${_('Terms of Service')}</title></%block>

<section class="static-container tos">
    <h2>${_('<b>Terms of Service</b>')}</h2>

    <p>${_('Put your Terms of Service here!')}</p>

   <h2 id="disclosure">${_('<b>Disclosure Notice</b>')}</h2>

   <p>${_('<b>IMPORTANT NOTICE:</b> By clicking "I agree" or by accessing or using the Microsoft\'s Open edX website, you agree:'
	)} </p>
   
   <p>${_('(a) If you are a Microsoft employee and you use your microsoft.com email account to open your Microsoft Open edX account, you agree that Microsoft may share your usage data for any training content and assessments accessed through the Microsoft\'s Open edX website with your management at Microsoft and you acknowledge that by agreeing to share this data, you are allowing your management at Microsoft to view reports on your usage data.'
   )} </p>

   <p>${_('(b)  If you use your work email account to open your Microsoft Open edX account, you agree that Microsoft may share your usage data for any training content and assessments accessed through the Microsoft\'s Open edX website with your employer and you acknowledge that by agreeing to share this data, you are allowing your employer to view reports on your usage data.'
   )} </p>
   
   <p>${_('<b>If you do not agree, do not click "I agree" and do not access or use the Microsoft Open edX website.</b>'
   )} </p>
   
   ## <h2 id="honor">${_('Honor Code')}</h2>

   ## <p>${_('Put your Honor Code here!')}</p>

   ## <h2 id="copyright">${_('Copyright')}</h2>

   ## <p>${_('Put your Copyright Text here!')}</p>
</section>

##<script>
##    $(document).ready(function() {
##        var print_tos = '<input type="button" value="Print Terms of Service" class="print">';
##        $('#content section.tos').prepend(print_tos).append(print_tos);
##        $('#content section.tos input.print').click(function() {
##            window.print();
##            return false;
##        });
##    });
##</script>
