//-----------------
// Override CSS
//-----------------
html {
    // The background color of the site
    background-color: $main-color !important;
}

#{$a-tags}{
	text-decoration: none;
}

//-----------------
// Header Styling
//-----------------
.home > header {
    height: 375;
    background-position: center top;

    .outer-wrapper {
	     padding: 120px 0 !important;
    }
}

.home > header .title > .heading-group {
    display: block !important;
    text-align: center !important;
}

.home > header .title > .heading-group h2 {
    text-transform: none !important;
    font-style: normal !important;
}


.home > header .title > .heading-group h1 {
    text-align: center !important;
}

//--------------------------------
// Registration/Signin link on the header
//--------------------------------

// Register link in header
.btn-register:hover{
    text-decoration: underline !important;
	color: $ms-color !important;
}

// Sign in link on the header
.btn-primary:hover{
    background-color: $ms-primary-button-hover !important;
}
