html {
    background: #222222;
}

.header-global {
    border-bottom: 1px solid #919191;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    background: #fff;
    position: relative;
    width: 100%;
    height: 76px;
    background-color: #222222;
}

.home>header {
    background-color: rgb(87, 87, 86);
    background-size: cover;
    background-image: none;
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.93), inset 0 -1px 5px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.home>header .title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    box-sizing: border-box;
    transition: all 0.2s linear 0s;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.5);
    background: #4CAF50;
    padding: 20px 30px;
    min-height: 120px;
    vertical-align: top;
}

.wrapper-footer {
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
    border-top: 1px solid #c5c6c7;
    padding: 25px 10px 30px 10px;
    background: #222222;
    clear: both;
}

.courses-container .courses .course {
    box-sizing: border-box;
    transition: all 0.125s linear 0s;
    position: relative;
    border-bottom: 3px solid rgb(170, 77, 151);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.125), inset 0 0 0 1px rgba(255,255,255,0.75);
    background: #f5f5f5;
    width: 100%;
}

.course-info header.course-profile {
    background: #575756;
    background-image: none;
    background-size: cover;
    box-shadow: 0 1px 80px 0 rgba(0,0,0,0.5);
    border-bottom: 1px solid #646464;
    box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.1);
    height: 280px;
    margin-top: -69px;
    padding-top: 150px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.course-info header.course-profile .intro-inner-wrapper {
    background: #4CAF50;
    border: 1px solid #646464;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,0.5);
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 760px;
    position: relative;
    z-index: 2;
}

.label-username {

    color: white;
    font-weight: normal;

}
