html {
    background-color: #222222;
}

.doc-link:visited {
   color: #0075b4;
}

.header-global .nav-courseware li .btn, .header-global .nav-courseware div .btn, .login .form-actions button[type="submit"], .register .form-actions button[type="submit"], .passwordreset .form-actions button[type="submit"], #forgot-password-modal #password-reset .form-actions button[type="submit"], .view-survey .action-primary
{
    box-shadow: none;
    background-color: #252c42;
    color: #fff;
}

.header-global .nav-courseware li .btn, .login-register .nav-btn, header.course-profile .intro-inner-wrapper .intro .main-cta a.register {
    box-shadow: none;
    background-color: #252c42;
    color: #fff;
}

input[type="submit"], input[type="button"], button, .button {
    box-shadow: none;
    background-color: #252c42;
    color: #fff;
}
button {
    box-shadow: none;
    background-color: #252c42;
	background: #252c42;
    color: #fff;
}

.header-global .nav-courseware li .btn:hover, .login-register .nav-btn:hover, header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover, button:hover {
    background-color: #454c62;
    color: #fff;
}

.home>header .title .course-search .search-button {
	background-color: #252c42;
	border: 2px solid #050c22;
    border-radius: 3px;
}

.home>header .title .course-search .search-button:hover {
	background-color: #454c62;
}

button:hover:not(:disabled), .button:hover:not(:disabled) {
	background-color: #454c62;
}

.home>header .title .course-search .search-input:focus
{
	border: 2px solid #050c22;
}

.find-courses .discovery-submit {
	background-color: #252c42;
	border: 2px solid #050c22;
}

.find-courses .discovery-submit:hover {
	background-color: #454c62;
}
.find-courses .discovery-input:focus {
	border: 2px solid #050c22;
}


.header-global .nav-global li a {
	color: #fff;
}
.header-global .nav-global li a:hover {
	color: #eee;
}

.find-courses .search-facets .facet-option:hover {
	background-color: #49AF57;
}

.doc-link {
    float: right;
    margin: 15px 15px 15px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #0075b4;
}

.header-global {
    border-bottom: 1px solid #252C42;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    position: relative;
    width: 100%;
    height: 76px;
    background-color: #49AF57;
}

.header-global.slim {
    height: none;
    padding: none;
    background: none;
    border-bottom: 1px solid #252C42;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    position: relative;
    background-color: #49AF57;
}

.home>header {
    background-color: rgb(87, 87, 86);
    background-size: cover;
    background-image: none;
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.93), inset 0 -1px 5px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.home>header .title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    box-sizing: border-box;
    transition: all 0.2s linear 0s;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.5);
    background: #ADCA1B;
    padding: 20px 30px;
    min-height: 120px;
    vertical-align: top;
}

.home>header .title>.heading-group {
  display: none;
}
.home>header .title:before {
  content: 'Welcome to the Sol-Tec Self-Learning Portal';
  color: #222222;
  font: normal 2em/1.4em "Segoe UI","Open Sans",sans-serif;
  letter-spacing: 1px;7
  text-align: left;
  margin-bottom: 0;
  text-shadow: 0 1px rgba(255,255,255,0.6);
  text-transform: none;
}

.home>header .title:after {
  white-space: pre;
  color: #ffffff;
  font: normal 1em/1em "Segoe UI","Open Sans",sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.wrapper-footer {
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
    border-top: 1px solid #c5c6c7;
    padding: 25px 10px 30px 10px;
    background: #222222;
    clear: both;
}

.courses-container .courses .course {
    box-sizing: border-box;
    transition: all 0.125s linear 0s;
    position: relative;
    border-bottom: 3px solid rgb(170, 77, 151);
        box-shadow: 0 1px 10px 0 rgba(0,0,0,0.125), inset 0 0 0 1px rgba(255,255,255,0.75);
    background: #f5f5f5;
    width: 100%;
}

.course-info .details {
	font: normal 1em/1.6em "Segoe UI","Open Sans",sans-serif;
	font-family: "Segoe UI","Open Sans",sans-serif;
}

.course-info header.course-profile {
    background: #575756;
    background-image: none;
    background-size: cover;
    box-shadow: 0 1px 80px 0 rgba(0,0,0,0.5);
    border-bottom: 1px solid #646464;
    box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.1);
    height: 250px;
    margin-top: -69px;
    padding-top: 60px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.course-info header.course-profile .intro-inner-wrapper {
    background: #adca1b;
    border: 1px solid #646464;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,0.5);
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 760px;
    position: relative;
    z-index: 2;
}

.label-username {

    color: white;
    font-weight: normal;

}

.header-global .primary>a:hover, .header-global .primary>a:focus, .header-global .primary>a:active {
    background: none;
}

.dashboard .my-courses .course .details .enter-course {
    background-color: #4cae50;
    color: #fff;
}



.verification-process .report-receipt-provider .provider-buttons-logos .complete-order button:hover, .dashboard .my-courses .course .details .enter-course:hover, .dashboard .my-courses .course .wrapper-messages-primary .message.message-status .verification-cta .btn:hover, .dashboard .my-courses .course .wrapper-messages-primary .message.message-status .credit-action .credit-btn:hover, .btn-secondary:hover, .account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link:hover, .account-settings-sections .section .account-settings-section-body .u-field .u-field-order .u-field-order-link .u-field-link:hover, .courseware-bookmarks-button .bookmarks-list-button:hover, .verification-process .report-receipt-provider .provider-buttons-logos .complete-order button:focus, .dashboard .my-courses .course .details .enter-course:focus, .dashboard .my-courses .course .wrapper-messages-primary .message.message-status .verification-cta .btn:focus, .dashboard .my-courses .course .wrapper-messages-primary .message.message-status .credit-action .credit-btn:focus, .btn-secondary:focus, .account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link:focus, .account-settings-sections .section .account-settings-section-body .u-field .u-field-order .u-field-order-link .u-field-link:focus, .courseware-bookmarks-button .bookmarks-list-button:focus {
    border: 1px solid transparent;
    background-color: #252c42;
    color: #fff;
    text-decoration: none;
}


.verification-process .report-receipt-provider .provider-buttons-logos .complete-order button, .dashboard .my-courses .course .details .enter-course, .dashboard .my-courses .course .wrapper-messages-primary .message.message-status .verification-cta .btn, .dashboard .my-courses .course .wrapper-messages-primary .message.message-status .credit-action .credit-btn, .btn-secondary, .dashboard .my-courses .course .details .enter-course.archived, .account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link, .account-settings-sections .section .account-settings-section-body .u-field .u-field-order .u-field-order-link .u-field-link, .courseware-bookmarks-button .bookmarks-list-button {
    box-sizing: border-box;
    letter-spacing: 0;
    border: none;
    border-radius: 3px;
    padding: 8px 20px;
    background-color: none;
    color: none;
    text-align: center;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta > a.find-courses, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart {
    border: 1px solid #000663;
    border-bottom: 1px solid #00003a;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 #2592c0;
    color: #fff;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: #126f9a;
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #000042;
    box-sizing: border-box;
    border-radius: 3px;
    display: block;
    font: normal 1.2rem/1.6rem "Segoe UI","Open Sans",sans-serif;
    letter-spacing: 1px;
    padding: 10px 0;
    background-image: none;
    text-transform: uppercase;
    text-align: center;
    width: 48.82117%
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta > a.find-courses:hover:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart:hover:not(:disabled) {
    cursor: pointer;
    background-color: #1790c7;
    background-image: none;

}

input[type="submit"], input[type="button"], button, .button {
    border-radius: 3px;
    border: 1px solid #000663;
    border-bottom: 1px solid #00003a;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 #2592c0;
    color: #fff;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: #126f9a;
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #000042;
    font: normal 1.2rem/1.6rem "Segoe UI","Open Sans",sans-serif;
    letter-spacing: 1px;
    padding: 4px 20px;
    text-transform: uppercase;
    vertical-align: top;
    background-image: none;
    -webkit-font-smoothing: antialiased;
}

input[type="submit"]:hover:not(:disabled), input[type="button"]:hover:not(:disabled), button:hover:not(:disabled), .button:hover:not(:disabled) {
        cursor: pointer;
        background-color: #1790c7;
        background-image: none;
}

.header-global .nav-courseware li .btn, .header-global .nav-courseware div .btn, .login .form-actions button[type="submit"], .register .form-actions button[type="submit"], .passwordreset .form-actions button[type="submit"], #forgot-password-modal #password-reset .form-actions button[type="submit"], .view-survey .action-primary {
    box-shadow: 0 2px 1px 0 #252c42;
    background: #4cae50;
    color: #fff;
}

.header-global .nav-courseware li .btn:hover, .header-global .nav-courseware div .btn:hover, .login .form-actions button[type="submit"]:hover, .register .form-actions button[type="submit"]:hover, .passwordreset .form-actions button[type="submit"]:hover, #forgot-password-modal #password-reset .form-actions button[type="submit"]:hover, .view-survey .action-primary:hover, .header-global .nav-courseware li .btn:active, .header-global .nav-courseware div .btn:active, .login .form-actions button[type="submit"]:active, .register .form-actions button[type="submit"]:active, .passwordreset .form-actions button[type="submit"]:active, #forgot-password-modal #password-reset .form-actions button[type="submit"]:active, .view-survey .action-primary:active, .header-global .nav-courseware li .btn:focus, .header-global .nav-courseware div .btn:focus, .login .form-actions button[type="submit"]:focus, .register .form-actions button[type="submit"]:focus, .passwordreset .form-actions button[type="submit"]:focus, #forgot-password-modal #password-reset .form-actions button[type="submit"]:focus, .view-survey .action-primary:focus {
        background: #252c42
}

.courses-container .courses .course .course-image .cover-image .learn-more {
    left: calc(50% - 100px);
    box-sizing: border-box;
    position: absolute;
    top: 55px;
    padding: 0 20px;
    width: 200px;
    height: 50px;
    border-color: #3a843d;
    border-radius: 3px;
    background: #4cae50;
    color: #fff;
    line-height: 50px;
    text-align: center;
    text-transform: none;
}

