html {
    background-color: #222222;
}

.doc-link:visited {
	color: #fff;
}

.header-global .nav-courseware li .btn {
	box-shadow: none !important;
    background-color: #252c42 !important;
	background-image: none !important;
    color: #fff;
}

.header-global .nav-courseware li .btn:hover {
	box-shadow: none !important;
    background-color: #454c62 !important;
	background-image: none !important;
    color: #fff;
}

header.course-profile .intro-inner-wrapper .intro .main-cta a.register, .header-global .nav-courseware div .btn, .login-register .nav-btn, .courses-container .courses .course .course-image .cover-image .learn-more, input[type="submit"], input[type="button"], button:not(.forgot-password):not(.facet-option), .button, .login .form-actions button[type="submit"], .register .form-actions button[type="submit"], .passwordreset .form-actions button[type="submit"], #forgot-password-modal #password-reset .form-actions button[type="submit"], .view-survey .action-primary, .dashboard .my-courses .course .details .enter-course,  {
    box-shadow: none !important;
	border: none;
    background-color: #49AF57 !important;
	background-image: none !important;
    color: #fff;
}

header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover, .header-global .nav-courseware div .btn:hover, .login-register .nav-btn:hover, .courses-container .courses .course .course-image .cover-image .learn-more:hover, input[type="submit"]:hover, input[type="button"]:hover, button:not(.forgot-password):not(.facet-option):hover, .button:hover, button:hover:not(:disabled), .button:hover:not(:disabled), .login .form-actions button[type="submit"]:hover, .register .form-actions button[type="submit"]:hover, .passwordreset .form-actions button[type="submit"]:hover, #forgot-password-modal #password-reset .form-actions button[type="submit"]:hover, .view-survey .action-primary:hover, .dashboard .my-courses .course .details .enter-course:hover  {
    box-shadow: none !important;
    background-color: #69CF77 !important;
	background-image: none !important;
    color: #fff;
}

.home>header .title .course-search .search-button {
	border: 2px solid #298F37;
    border-radius: 3px;
}

.home>header .title .course-search .search-input:focus
{
	border: 2px solid #050c22;
}

.find-courses .discovery-submit {
	background-color: #252c42;
	border: 2px solid #050c22;
}

.find-courses .discovery-submit:hover {
	background-color: #454c62;
}
.find-courses .discovery-input:focus {
	border: 2px solid #050c22;
}


.header-global .nav-global li a {
	color: #fff;
}
.header-global .nav-global li a:hover {
	color: #eee;
}

.header-global .primary>a:hover {
	background-color: #69CF77;
}

button:not(.forgot-password):not(.facet-option) {
	background-color: none;
}

.find-courses .search-facets .facet-option:hover {
	background-color: #49AF57;
}

.doc-link {
    float: right;
    margin: 15px 15px 15px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #0075b4;
}

.header-global {
    border-bottom: 1px solid #252C42;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    position: relative;
    width: 100%;
    height: 76px;
    background-color: #49AF57 !important;
}

.header-global.slim {
    height: none;
    padding: none;
    background: none;
    border-bottom: 1px solid #252C42;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    position: relative;
    background-color: #49AF57;
}

.home>header {
    background-color: rgb(87, 87, 86);
    background-size: cover;
    background-image: none;
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.93), inset 0 -1px 5px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.home>header .title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    box-sizing: border-box;
    transition: all 0.2s linear 0s;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.5);
    background: #ADCA1B;
    padding: 20px 30px;
    min-height: 120px;
    vertical-align: top;
}

.home>header .title>.heading-group {
  display: none;
}
.home>header .title:before {
  content: 'Welcome to the Sol-Tec Self-Learning Portal';
  color: #222222;
  font: normal 2em/1.4em "Segoe UI","Open Sans",sans-serif;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 0;
  text-shadow: 0 1px rgba(255,255,255,0.6);
  text-transform: none;
}

.home>header .title:after {
  white-space: pre;
  color: #ffffff;
  font: normal 1em/1em "Segoe UI","Open Sans",sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.wrapper-footer {
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
    border-top: 1px solid #c5c6c7;
    padding: 25px 10px 30px 10px;
    background: #222222;
    clear: both;
}

.courses-container .courses .course {
    box-sizing: border-box;
    transition: all 0.125s linear 0s;
    position: relative;
    border-bottom: 3px solid rgb(170, 77, 151);
        box-shadow: 0 1px 10px 0 rgba(0,0,0,0.125), inset 0 0 0 1px rgba(255,255,255,0.75);
    background: #f5f5f5;
    width: 100%;
}

.course-info .details, .course-info .details .inner-wrapper .prerequisites ul li {
	font: normal 1em/1.6em "Segoe UI","Open Sans",sans-serif;
	font-family: "Segoe UI","Open Sans",sans-serif;
}

.course-info .details h2 {
	font: normal 1.2em/1.2em "Segoe UI","Open Sans",sans-serif;
}

.course-info header.course-profile {
    background: #575756;
    background-image: none;
    background-size: cover;
    box-shadow: 0 1px 80px 0 rgba(0,0,0,0.5);
    border-bottom: 1px solid #646464;
    box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.1);
    height: 250px;
    margin-top: -69px;
    padding-top: 60px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.course-info header.course-profile .intro-inner-wrapper {
    background: #adca1b;
    border: 1px solid #646464;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,0.5);
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 760px;
    position: relative;
    z-index: 2;
}

.label-username {

    color: white;
    font-weight: normal;

}

.wrapper-account-settings .wrapper-header .account-nav .account-nav-link, .account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link {
	color: #fff;
}

