<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>

<main class="accomplishment accomplishment-main">

<div class="wrapper-accomplishment-rendering">
  <div class="accomplishment-rendering">
    <div class="ar-header">
      <h1>${platform_name}</h1>
      <div class="ar-header-logo">
	<img src="/static/certificates/images/ms-logo-white.png" alt="${platform_name}" />
      </div>
    </div>
   <div class="ar-ribbon">			
   </div> 
   <div class="ar-body">
     <div class="ar-body-content">
       <h2>{accomplishment_copy_name | h}</h2>
       <p>${accomplishment_copy_description_full}</p>
       <h3>
          <span class="accomplishment-course-org">${accomplishment_copy_course_org}  </span>
          <span class="accomplishment-course-number">${course_number}</span>:
          <span class="accomplishment-course-name">${accomplishment_copy_course_name}</span>
       </h3>
       <p>${accomplishment_copy_course_description}</p>
       <div class="ar-body-content-signs">
         <div class="ar-signature">
	   <img src="/static/certificates/images/satya-sign.png"/>
	   <p>
	     <strong>Satya Nadellae</strong><br/>
	     Chief Ecexutive Officer<br/>
	     Microsoft
	   </p>
	 </div>
	 <div class="ar-signature">
	   <img src="/static/certificates/images/bjorn-sign.png"/>
	   <p>
	     <strong>Bjorn Retting</strong><br/>
	     Senior Director Technical Content<br/>
	     Microsoft
	   </p>
	</div>
      </div>
    </div>
    <div class="ar-body-ribbon">
      <img scr="/static/certificates/images/ribbone.png" alt=""/>
    </div>
  </div>
  <div class="ar-footer">
    <p>Certification Number: ${certificate_id_number}</p>
    <p>Date of Achievement: ${certificate_date_issued}</p>
  </div>
</div>
</div>
</main>
