.header-global {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #919191;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    background: #222222;
}

.course-header {
    color: #fff;
}

.doc-link:visited {
   color: #0075b4;
}

.doc-link {
    float: right;
    margin: 15px 15px 15px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #0075b4;
}

.dropdown-menu-container .menu-title {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    color: #ffffff;
    line-height: 40px;
}

.wrapper-footer {
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
    border-top: 1px solid #c5c6c7;
    padding: 25px 10px 30px 10px;
    background: #222222;
    clear: both;
}

