<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>
<style>
@font-face {
    font-family: MDL2;
    src: url(../app/assets/fonts/mdl2/MDL2.eot);
    src: url(../app/assets/fonts/mdl2/MDL2.eot#iefix) format("embedded-opentype"), url(../app/assets/fonts/mdl2/MDL2.ttf) format("truetype"), url(../app/assets/fonts/mdl2/MDL2.woff) format("woff"), url(../app/assets/fonts/mdl2/MDL2.svg#mdl2) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.svg#web) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI Light"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.svg#web) format("svg");
    font-weight: 100;
    font-style: normal
}
@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI Bold"), local("Segoe UI"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.svg#web) format("svg");
    font-weight: 700;
    font-style: normal;
}
.accomplishment-main {
    padding: 1.5rem 0;
}
.layout-accomplishment .accomplishment-rendering {
    top: inherit;
}
.accomplishment-rendering {
    box-sizing: border-box;
    max-width: 756px;
    width: 100%;
    padding: 18px;
    border-top:none;
}
.accomplishment-rendering h1,
.accomplishment-rendering h2,
.accomplishment-rendering h3,
.accomplishment-rendering p {
    margin: 0;
    padding: 0;
    font-family: SegoeUI, Arial, sans-serif;
}
.ar-header {
    position: relative;
    padding: 40px 50px 20px 30px;
    min-height: 173px;
    background-color: #002050;
    width: 100%;
    border-bottom: 7px solid #00B0E3;
}
.ar-header h1 {
    color: #FFFFFF;
    font-size: 46px;
    font-weight: 100;
    line-height: 60px;
}
.ar-header-logo {
    position: absolute;
    top: 18px;
    right: 20px;
}
.ar-header-logo .print-logo {
    display: none;
}
.ar-ribbon {
    display: none;
}
.ar-body {
    position: relative;
    clear: both;
    margin-bottom: 20px;
    width: 100%;
}
.ar-body-content {
    padding: 30px 136px 30px 30px;
}
.ar-body-content h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 46px;
    line-height: 60px;
    word-wrap: break-word;
}
.ar-body-content h3 {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 5px;
}
.ar-body-content p {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 30px;
    max-width: 500px;
}
.ar-body-content-signs {
    position: relative;
    margin-top: 40px;
    clear: both;
}
.ar-body-ribbon {
    position: absolute;
    top: 0;
    right: 75px;
    height: 68px;
    width: 61px;
}
.ar-footer {
    clear: left;
    padding: 10px 30px;
    background-color: #002050;	
    border-top: 2px solid #00B0E3;    
    width: 100%;
}
.ar-footer p {
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
}
.ar-signature {
    float: left;
    margin: 0 20px 0 0;
    width: 200px;
}
.ar-signature p {
    font-size: 10px;
    line-height: 14px;
}
.layout-accomplishment .wrapper-accomplishment-rendering {
    margin-bottom: 0;
}
.layout-accomplishment .wrapper-about {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
@media screen and (max-width: 767px) {
    .ar-header h1 {
        font-size: 30px;
        line-height: 38px;
    }
    .ar-body-content h2 {
        font-size: 30px;
        line-height: 38px;
    }
    .ar-body-ribbon {
        display: none;
    }
    .ar-body-content {
        padding: 30px 16px 30px 16px;
    }
}
@media print {
    body {
        margin: 0 !important;
    }
    .accomplishment-main{
    	padding: 0;
    }
    .accomplishment-rendering{
    	border-top: 0.0625rem solid #d3d1d1;
    }
    .ar-header-logo .screen-logo {
        display: none;
    }
    .ar-header-logo .print-logo {
        display: block;
    }
    
    
}
/* from http://browserstrangeness.bitbucket.org/css_hacks.html, Chrome and Safari (and Opera 14+), NOT Microsoft Edge */
@media print and (-webkit-min-device-pixel-ratio:0) {
    @supports (not (-ms-ime-align: auto)) {
        .ar-header-logo .screen-logo {
            display: block;
        }
        .ar-header-logo .print-logo {
            display: none;
        }        
    }
}
</style>
<main class="accomplishment accomplishment-main">
<div class="wrapper-accomplishment-rendering">
  <div class="accomplishment-rendering">
    <div class="ar-header">
      <h1>${platform_name}<br/>Honor Certificate of Completion</h1>
      <div class="ar-header-logo">
          <img class="screen-logo" src="/static/courses/images/ms-logo-white.png" alt="Microsoft" />
          <img class="print-logo" src="/static/courses/images/ms-logo-grey.png" alt="Microsoft" />
      </div>
    </div>
   <div class="ar-ribbon">			
   </div> 
   <div class="ar-body">
     <div class="ar-body-content">
       <h2>${accomplishment_copy_name | h}</h2>
       <p>${accomplishment_copy_description_full}</p>
       <h3>
          <span class="accomplishment-course-org">${accomplishment_copy_course_org}  </span>
          <span class="accomplishment-course-number">${course_number}</span>:
          <span class="accomplishment-course-name">${accomplishment_copy_course_name}</span>
       </h3>
       <p>${accomplishment_copy_course_description}</p>
       <div class="ar-body-content-signs">
         <div class="ar-signature">
	   <img src="/static/courses/images/ceo-sign.png" height="50" width="150" alt="CEO Signature"/>
	   <p>
	     <strong>Satya Nadella</strong><br/>
	     Chief Executive Officer<br/>
	     Microsoft
	   </p>
	 </div>
	 <div class="ar-signature">
	   <img src="/static/courses/images/director-sign.png" height="50" width="150" alt="Director Signature"/>
	   <p>
	     <strong>Björn Rettig</strong><br/>
	     Senior Director Technical Content<br/>
	     Microsoft
	   </p>
	</div>
      </div>
    </div>
    <div class="ar-body-ribbon">
      <img src="/static/courses/images/ribbon.png" alt=""/>
    </div>
  </div>
  <div class="ar-footer">
    <p>Certification Number: ${certificate_id_number}</p>
    <p>Date of Achievement: ${certificate_date_issued}</p>
  </div>
</div>
</div>
</main>