## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from microsite_configuration import microsite
%>
<%inherit file="/navigation.html"/>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
  <img src="${static.url('themes/default/images/ms-logo.png')}" width="108" height="23" vspace="15" alt="Home Page" /> 
  ##<span style = "font-size:20px">Project Rex Beta</span>
</%block>
