## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%!
  from datetime import date
%>

<div class="wrapper-footer">
  <footer>
    ## align the links with the openedx reference logo
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
        <li>
            ${_('&copy; {year} Microsoft').format(
                year=date.today().year
            )}
        </li>
        <li><a href="https://www.microsoft.com/en-us/privacystatement/default.aspx">Privacy & Cookies</a></li>
        <li><a href="${reverse('tos')}">Terms of use</a></li>
        <li><a href="https://www.microsoft.com/en-us/legal/intellectualproperty/trademarks/en-us.aspx">Trademarks</a></li>          
        </ol>
      </nav>
    </div>
    <div class="references">
      <a href="http://openedx.org">
        <img src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag.png"  
                width="140" alt="Powered by Open edX" /> 
    </a>
    </div>

  </footer>
</div>
