<%! from django.utils.translation import ugettext as _ %>
<section class="about-item about-edx">
    <h2 class="about-edx-title hd-4">${company_about_title}</h2>

    <div class="about-edx-copy copy copy-meta">
        <p>Fulfill your potential and make the most of your investment in Microsoft technology with certification, Massive Open Online Courses (MOOC), classroom training, e-learning, and books from Microsoft and Microsoft Learning Partners.</p>
        <a class="action" href="https://www.microsoft.com/en-us/learning/default.aspx">${company_about_urltext}</a>
    </div>
</section>
